{% extends 'base.html' %}
{% load settings %}
{% load static %}
{% load notifications_tags %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block nav-home %}
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}
  <div class="row" style="background-color: {% settings_value 'BACKGROUND_COLOUR' %}; padding: 16px;">
    <img class="mx-auto d-block img-fluid" src="{% static 'images/banner.png' %}" alt="">
  </div>
  <div class="row" style="margin: 50px;">
    {% if user.is_authenticated %}
      <div>
        <h3>Hi {{ user.username }}!</h3>
        {% notifications_unread as unread_count %}
        {% if unread_count %}
        <p>You have <strong>{{ unread_count }}</strong> unread notifications.</p>
        {% endif %}
      </div>
    {% else %}
      <ul class="list-unstyled">
        <li><p>You are not logged in</p></li>
        <li>
          <a href="{% url 'login' %}">Log In</a> |
          <a href="{% url 'signup' %}">Sign Up</a>
        </li>
      </ul>
    {% endif %}
  </div>
  <div class="row" style="margin: 50px;">
    <div class="card-deck">
      {% if wod %}
        <div class="card">
          <div class="card-header">
            Featured Work
          </div>
          <a class="spotify_link" href="{{ wod.random_album.uri }}:play">
            <img class="card-img-top" src="{{ wod.random_album.image }}" alt="Album cover" style="max-width: 30em;">
          </a>
          <div class="card-body">
            <h3 class="card-title">{{ wod.title }} by {{ wod.composer.full_name }}</h3>
            {% if wod.composer.anniversary %}
            <h5 class="cart-subtitle mb-2 text-muted">Happy {{ wod.composer.anniversary|ordinal }} Birthday!</h5>
            {% endif %}
            <p class="card-text">
              {{ wod.year }}
              {% if wod.sub_genre %}{{ wod.sub_genre }}{% else %}{{ wod.type|capfirst }}{% endif %}
              {% if wod.language %} in {{ wod.language_verbose }}{% endif %}
              {% if wod.notes %}<br>{{ wod.notes }}{% endif %}
            </p>
            <a class="spotify_play" href="/play/{{ wod.id }}/" title="Play on Spotify">
              <img uri="{{ wod.random_album.uri }}:play" src="/static/images/Spotify-Play-Button.png" width="38px;">
            </a>
            <a class="btn btn-primary float-right" href="{% url 'work:work-detail' wod.id %}">More details</a>
          </div>
        </div>
      {% endif %}
      {% if qod %}
        <div class="card">
          <div class="card-header">
            Quote of the Day
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ qod }}</p>
              <footer class="blockquote-footer">{{ qod.composer.full_name }}</footer>
            </blockquote>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row" style="margin: 50px;">
    <a class="twitter-timeline" data-lang="en" data-height="500" data-width="750" href="https://twitter.com/flittingpie/lists/1673686262048235526?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
{% endblock %}