{% extends 'base.html' %}
{% load settings %}

{% block title %}Graphs{% endblock %}

{% block nav-graphs %}
  <li class="nav-item active">
    <a class="nav-link" href="#">Graphs<span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}
  <div class="container-fluid py-3">
    <div class="flex-row">
      <div class="card-deck">
        <div class="card text-center">
          <div class="card-body align-bottom">
            {% settings_value "WORK_PLURAL_LABEL" as label %}
            <p class="card-title">{{ label|title }} in database:</p>
            <h2 class="card-text">{{ work_count }}</h2>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body align-bottom">
            <p class="card-title">Total user performances (excl. streams):</p>
            <h2 class="card-text">{{ user_performance_count }}</h2>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body align-bottom">
            <p class="card-title">Total user listens:</p>
            <h2 class="card-text">{{ user_listen_count }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <img class="img-fluid" src='data:image/png;base64,{{ top }}'>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ middle_left }}'>
        </div>
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ middle_centre }}'>
        </div>
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ middle_right }}'>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ bottom_left }}'>
        </div>
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ bottom_centre }}'>
        </div>
        <div class="col-4">
          <img class="img-fluid" src='data:image/png;base64,{{ bottom_right }}'>
        </div>
      </div>
      <div class="row">
        <img class="img-fluid" src='data:image/png;base64,{{ duration_hist }}'>
      </div>
    </div>
    {% block additional_graphs %}{% endblock %}
  </div>
{% endblock %}
