.numeric-slider .ui-draggable, .numeric-slider .ui-droppable {
    background-position: center;
}

.numeric-slider .ui-widget-header {
    background: #1dd05d;
}

/* .numeric-slider .value {
    position: absolute;
    top: 300px;
    left: 50%;
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    display: block;
    font-weight: normal;
} */

.numeric-slider {
    text-align: center;
    width: 65%;
}

.numeric-slider-range_text {
    text-align: center;
}


.numeric-slider-label_text {
    text-align: center;
    padding-right: 10px;
    width: 25%;
}